**/TempPreview
**/Publish
**/.tmp
**/BAK
**/Language
ProjectInternal
Internal
**/Network/*/*.st
**/Drive/*.st
*.ldi
*.bak
*.lob
*.lba
*.lcb
*.lock
*.plc
*.7z
*.lcc
*.lds
1
LSE.ini
LSE.cif
LoadDocuments.lse
MaeExp.txt
LVD-Project/Runtime/DesignerRuntime/res/styles/components/*.js
LVD-Project/Runtime/DesignerRuntime/res/styles/sig-default-css.js
LVD-Project/OpenViews.xml
**/designer.html
**/designerResourcePreview.html
**/designerToolbox.html
